@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,800;0,900;1,300&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  font-family: Nunito Sans, sans-serif;
}

body {
  box-sizing: border-box;
}

.section {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #0862c9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.particles {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main {
  margin: auto;
  padding: 2rem 4rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 100;
}

.logo {
  margin: auto;
  width: 8rem;
  margin-bottom: 0;
}

.contact-us {
  margin-top: 2rem;
  font-weight: 600;
}

.contact-us a {
  border-bottom: 1px dotted yellow;
  text-decoration: none;
  color: #ffc300;
}

h1 {
  color: #fafafa;
  text-align: center;
  margin: 0 auto;
  font-size: 3rem;
}

p {
  color: #fafafa;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1rem;
  background-color: transparent;
}

#discord-button .icon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

#discord-button .icon svg {
  fill: white;
}

#discord-button a {
  color: white;
  font-weight: bold;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #7289da;
  text-decoration: none;
}

#discord-button a:hover {
  background-color: #6a7fc9;
}

.readdocs {
  font-size: 2.8rem;
  color: #fafafa;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.readdocs::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #7289da;
}

.readdocs > img {
  width: 1em;
  margin-left: 1rem;
  transform: translateY(4px);
}

@media (max-width: 640px) {
  .logo {
    width: 8rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.8rem;
    margin-bottom: 1.2rem;
  }

  .readdocs {
    font-size: 1.6rem;
    margin-right: 1rem;
    margin-bottom: 0.6rem;
  }

  .readdocs > img {
    transform: translateY(2px);
  }
}

@media (max-width: 640px) {
  .logo {
    width: 6rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.8rem;
    margin-bottom: 1.2rem;
  }

  .readdocs {
    font-size: 1.6rem;
    margin-right: 1rem;
    margin-bottom: 0.6rem;
  }

  .readdocs > img {
    transform: translateY(2px);
  }
}

@media (max-width: 740px) {
}
